<div class="row">
   <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
         <form class="form-inline pull-right" name="searchForm">
            <div class="form-group">
               <label for="filterCategory">Filter by </label>
               <select class="form-control" ng-model="filterKey" ng-init="filterKey='id'">
                  <option value="id">ID</option>
                  <option value="customername">Customer Name</option>
                  <option value="productname">Product Name</option>
                  <option value="status">Status</option>
               </select>
            </div>
            <div class="form-group">
               <input type="text" class="form-control" placeholder="Enter keyword" ng-model="filterWord" ng-minlength="2" ng-required="true">
            </div>
            <button class="btn btn-sm btn-primary" ng-click="home.filterList();"
            ng-disabled="searchForm.$invalid"> <i class="fa fa-lg fa-search"></i> Search </button>
            <button class="btn btn-sm btn-danger" ng-click="home.resetFilter();"
            ng-disabled="searchForm.$invalid"> <i class="fa fa-times"></i> Reset </button>
         </form>
      </div>
   </div>
</div>
<div class="row margin-top-xl">
   <div class="col-xs-8 col-xs-offset-2"  loading-wrapper="home_state_loader">
      <table class="table table-condensed">
         <thead class="fn-white fn-section-header">
            <tr>
               <td>ID</td>
               <td>Customer Name</td>
               <td>Product Name</td>
               <td>Status</td>
               <td>Actions</td>
            </tr>
         </thead>
         <tbody class="fn-section-bg">
            <tr ng-repeat="customer in customerList">
               <td>{{ customer.id }}</td>
               <td>{{ customer.customername }}</td>
               <td>{{ customer.productname }}</td>
               <td>{{ customer.status }}</td>
               <td>
                  <a class="btn btn-sm text-primary" ui-sref="customer({customerId: customer.id})"> 
                     <i class="fa fa-lg fa-eye"></i>
                  </a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom main-bg-color">
       <div class="container-fluid">
       <div class="collapse navbar-collapse">
          <div class="col-xs-8 col-xs-offset-2">
             <div class="navbar-form navbar-right">
                  <div class="form-group  margin-right-xl">
                   <a type="submit" class="btn btn-default"
                        ng-click="home.sortList(undefined, !home.lastSortingOrder);">
                     <i class="fa" ng-class="{true:'fa-sort-alpha-desc', false:'fa-sort-alpha-asc'}[home.lastSortingOrder]"></i>
                   </a>
                </div>
                <div class="form-group">
                   <a class="btn btn-primary" ng-click="home.loadCustomerList()"><i class="fa fa-refresh"></i>
                   Refresh</a>
                </div>
             </div>
             <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="navbarSortButton"><i class="fa fa-sort"></i>
                   Sort<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                      <li ng-click="home.sortList('id', undefined)"><a>ID</a></li>
                      <li ng-click="home.sortList('customername', undefined)"><a>Customer Name</a></li>
                      <li ng-click="home.sortList('productname', undefined)"><a>Product Name </a></li>
                      <li ng-click="home.sortList('status', undefined)"><a>Status</a></li>
                   </ul>
                </li>
             </ul>
          </div>
       </div>
    </footer>