<div class="row">
  <div class="row margin-bottom-md">
    <div class="col-xs-8 col-xs-offset-2">
      <a class="btn btn-warning" ui-sref="home"><i class="fa fa-arrow-left"></i>
      Back </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 fn-section-bg col-sm-12">
      <div class="row">
        <div class="col-md-6 hidden-xs">
          <img class="center-block margin-top-xl" src="static/imgs/customer_logo.png"/>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="panel panel-info margin-top-xl">
            <div class="panel-heading">
              <h3 class="panel-title">Customer Details</h3>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td> ID </td>
                  <td> {{ customer.id }}</td>
                </tr>
                <tr>
                  <td>Customer Name</td>
                  <td> {{ customer.customername }}</td>
                </tr>
                <tr>
                  <td>Customer Email</td>
                  <td>{{ customer.email }}</td>
                </tr>
                <tr>
                  <td>Product Name</td>
                  <td>{{ customer.productname }}</td>
                </tr>
                <tr>
                  <td>Phone Number</td>
                  <td>{{ customer.phonenumber }}</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>{{ customer.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div>
            <ul class="nav nav-tabs" role="tablist" id="myTabs">
              <li role="presentation" class="active">
                <a href="#notes" role="tab" data-toggle="notes">Notes</a>
              </li>
              <li role="presentation">
                <a href="#visit" role="tab" data-toggle="visit">Visit</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="notes">
                <div class="input-group margin-top-xl">
                  <span class="input-group-addon">Notes</span>
                  <textarea class="form-control" ng-model="customer.notes.text"></textarea>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkbox">
                      <label>
                      <input type="checkbox" ng-model="customer.notes.status.New"/> New
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="checkbox">
                      <label>
                      <input type="checkbox" ng-model="customer.notes.status.InProgress"/> In Progress
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkbox">
                      <label>
                      <input type="checkbox" ng-model="customer.notes.status.OrderPlaced"/>Order Placed
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="checkbox">
                      <label>
                      <input type="checkbox" ng-model="customer.notes.status.Support"/> Support
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkbox">
                      <label>
                      <input type="checkbox" ng-model="customer.notes.status.Cancelled"/>Cancelled
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="checkbox">
                      <label>
                      <input type="checkbox" ng-model="customer.notes.status.Rejected"/> Rejected
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="visit">
                <div class="row margin-top-xl">
                  <div class="col-xs-8">
                    <uib-datepicker ng-model="customer.visit.date" show-weeks="true" class="well well-sm"></uib-datepicker>
                  </div>
                  <div class="col-xs-4">
                    <div class="row">
                      <uib-timepicker ng-model="customer.visit.time" hour-step="1" minute-step="1" show-meridian="true"></uib-timepicker>
                    </div>
                  </div>
                  <div class="row">
                    <div class="checkbox">
                      <label>
                      <input type="checkbox" ng-model="customer.visit.status.Offer"/> Offer
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                      <input type="checkbox" ng-model="customer.visit.status.NewCustomer"/> NewCustomer
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                      <input type="checkbox" ng-model="customer.visit.status.Lead"/> Lead
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                      <input type="checkbox" ng-model="customer.visit.status.Oportunity"/> Oportunity
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="input-group margin-top-xl">
                    <span class="input-group-addon"></span>
                    <textarea class="form-control" ng-model="customer.visit.notes"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom main-bg-color">
       <div class="container-fluid">
       <div class="collapse navbar-collapse">
          <div class="col-xs-8 col-xs-offset-2">
             <div class="navbar-form navbar-right">
                  <div class="form-group  margin-right-xl">
                   <a class="btn btn-primary" ng-click="cstm.saveChanges()">
                     <i class="fa fa-floppy-o"></i> Save Changes
                   </a>
                </div>

             </div>
          </div>
       </div>
    </footer>