<div class="row margin-top-xl">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="row col-xs-12 fn-section-header text-center">
      <h5 class="fn-white">Enter username and password</h5>
    </div>
    <div class="row col-xs-12 fn-section-bg text-center" loading-wrapper="login_section_loader">
      <div class="row">
        <div class="col-xs-12">
          <img src="static/imgs/login_required_logo.png" class="center-block margin-bottom-xl margin-top-xl"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <form class="form-horizontal" name="loginForm">
            <div class="input-group">
              <span class="input-group-addon">Username</span>
              <input 
                type="text"
                name="formUser"
                class="form-control"
                placeholder="Username"
                ng-model="user"
                ng-required="true"
                ng-minlength="5"/>
            </div>
            <div class="input-group margin-top-xl margin-bottom-xl">
              <span class="input-group-addon">Password</span>
              <input 
                type="password"
                name="formPass"
                class="form-control"
                placeholder="Password"
                ng-model="pass"
                ng-required="true"
                ng-minlength="5"/>
            </div>
            <div class="form-group">
              <div class="col-xs-8 col-xs-offset-2">
                <p class="text-danger" ng-show="loginForm.$dirty && loginForm.$invalid && loginForm.formPass.$dirty">
                  Mandatory fields. Minimum number of allowed characters is 5 !
                </p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-10 col-sm-2">
                <button class="btn btn-primary" ng-click="login.submit()" ng-disabled="loginForm.$invalid">Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>