<!DOCTYPE html>
  <html class="not-ie no-js" lang="en" ng-app="app">  
    <head>

      <meta charset="utf-8">
      <title>Sales Rep | Pintea Sorin </title>
      <meta name="description" content="">
      <meta name="author" content="Pintea Sorin">
      <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

      <!-- LIBS-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-resource.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
      <script src="static/js/md5.js"></script>
      <!-- COMMON MODULES -->
      <script src="app/js/common/user_profile.js"></script>
      <script src="app/js/common/loading_wrapper.js"></script>

      <!-- ROUTES MODULES-->
      <script src="app/routes/login/login.js"></script>
      <script src="app/routes/home/home.js"></script>
      <script src="app/routes/customer/customer.js"></script>
      <script src="app/routes/logout/logout.js"></script>
      
      <!-- APP -->
      <script src="app/js/app.js"></script>

      <!-- STYLE -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="static/css/colors.css">
      <link rel="stylesheet" href="static/css/distances.css">
      <link rel="stylesheet" href="static/css/style.css">

  </head>
 

  <body class="body-bg-color" ng-controller="appCtrl as app">

    <header class="navbar navbar-default main-bg-color" ng-show="$state.current.name !== 'login'">
       <div class="container-fluid">
          <div class="navbar-header">
             <h4 class="fn-white margin-top-xl"> {{ pageTitle }} </h4>
          </div>
          <div class="collapse navbar-collapse">
             <a class="btn btn-sm btn-warning pull-right margin-top-md" ng-click="app.logout();">
             <i class="fa fa-user-times margin-right-sm"></i>Log out
             </a>
          </div>
       </div>
    </header>

    <div class="container margin-footer">
       <div ui-view></div>
    </div>

  </body>

</html>


<!-- <div class="row">
    <div class="col-md-6">
        <a class="btn btn-sm btn-primary" ng-click="stop_loading()">Push it</a>
        <a class="btn btn-sm btn-primary" ng-click="start_loading()">Push iat</a>
    </div>
    <div class="col-md-6">
 -->       
      
<!--
    </div>

</div> -->