.fn-white {
    color: #FFFFFF;
}
.body-bg-color {
    background-color: #F8F8F8;
}
.main-bg-color {
    background-color: #5CB85C;
}
.fn-section-header {
    background-color: #F0AD4E;
}
.fn-section-bg {
    background-color: #FFFFFF;
}