.margin-sm {
    margin: 5px;
}
.margin-top-sm {
    margin-top: 5px;
}
.margin-bottom-sm {
    margin-bottom: 5px;
}
.margin-left-sm {
    margin-left: 5px;
}
.margin-right-sm {
    margin-right: 5px;
}
.margin-md {
    margin: 10px;
}
.margin-top-md {
    margin-top: 10px;
}
.margin-bottom-md {
    margin-bottom: 10px;
}
.margin-left-md {
    margin-left: 10px;
}
.margin-right-md {
    margin-right: 10px;
}
.margin-xl {
    margin: 15px;
}
.margin-top-xl {
    margin-top: 15px;
}
.margin-bottom-xl {
    margin-bottom: 15px;
}
.margin-left-xl {
    margin-left: 15px;
}
.margin-right-xl {
    margin-right: 15px;
}
.pad-sm {
    padding: 5px;
}
.pad-top-sm {
    padding-top: 5px;
}
.pad-bottom-sm {
    padding-bottom: 5px;
}
.pad-left-sm {
    padding-left: 5px;
}
.pad-right-sm {
    padding-right: 5px;
}
.pad-md {
    padding: 10px;
}
.pad-top-md {
    padding-top: 10px;
}
.pad-bottom-md {
    padding-bottom: 10px;
}
.pad-left-md {
    padding-left: 10px;
}
.pad-right-md {
    padding-right: 10px;
}
.pad-xl {
    padding: 15px;
}
.pad-top-xl {
    padding-top: 15px;
}
.pad-bottom-xl {
    padding-bottom: 15px;
}
.pad-left-xl {
    padding-left: 15px;
}
.pad-right-xl {
    padding-right: 15px;
}
.margin-footer {
    margin-bottom: 70px;
}