header h4 {
    font-weight: 900;
}
#navbarSortButton {
    background-color: #5CB85C;
    color: #FFFFFF;
}
.loading {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    position: absolute;
    margin-left: -15px;
    background-color: #000000;
    background-image: url('../imgs/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999;
}